gpr/__pycache__/
gpr/pqcd/__pycache__/
gpr/marginalisation/
analysis/__pycache__/
analysis/heavy_pulsars/__pycache__/
TOV/target
tov
TOV/TOV
tov.toml
!TOV/src/tov.toml
gpr/EOS/
results/
analysis/
TOV
tmg_hmc/target/
tidal_test/
results/
*.ipynb_checkpoints/
*.ipynb
.vscode/